<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        *{
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1> {{My_author.first_name}} {{My_author.last_name}}</h1>
    <p>ID: {{My_author.id}}</p>
    <p> Notes: {{My_author.notes}}</p>
    <ol> 
        {% for x in books %}
        <li>{{x.title}}</li>
        {% endfor %}
        </ol>
        <form action="/many_to_many" method="POST">
            {% csrf_token %}
            <select style="width: 300px;" class="custom-select" name="select_book">
                {% for j in All_Book %}
                <option value="{{j.id}}"> {{j.title}} </option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="submit">

</body>
</html>