<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Great Number Game! </h1>
    <p> i am thinking of a number between 1 and 100 </p> 
    <p> Take a guess! </p> 
    {% if number < random %}
        <div style="width:200px;height:200px;background:red;"> Too Low!</div>
    {% endif %}
    <p> Take a guess! </p> 
    {% elif number == random %}
        <div style="width:200px;height:200px;background:green;">
            <p>{{random}} was the number!</p>
            <form action="/try" method="POST">
                <input type="submit" value="Try Agin"/>
            </form>
            </div>
    {% endif %}
    {% elif number > random %}
    <div style="width:200px;height:200px;background:red;"> Too Height!</div>
    {% endif %}

    <form action="/check" method="POST">
        <input type="text" name="user_number" />
        <input type="submit" value="submit"/>
    </form>

</body>
</html>