<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome {{request.session.name}} </h1>
    <form action="/logout" method="POST">
        {% csrf_token %}
    <input type="submit" value="Log Out">
    </form>
    <hr>
    <h1> {{ book.title }}</h1>
    <p> Added by: {{ book.uploaded_by.first_name }}</p>
    <p> Added on: {{ book.created_at }}</p>
    <p> Last updated on: {{ book.updates_at }}</p>
    <p> Description: {{ book.desc }} </p>
</body>
</html>