<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Show</title>
</head>
<body>
    <h1> Add a New Show</h1>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
    <form action="/process" method="POST">
        {% csrf_token %}
        Title: <input type="text" name="title" required>
        Network: <input type="text" name="network">
        Release Date: <input type="date" name="release_date">
        Description: <textarea name="desc" cols="30" rows="10"></textarea>
        <input type="submit" value="Create">
    </form>
    
</body>
</html>